<div class="container container-fluid m-4" style="text-align: center;">
  <h1>
    welcome to {{ title }}
  </h1>
  <img width="130" alt="Spring Boot" src="https://spring.io/images/why-spring-02-d7c8f81f3847758aa94612e8a4edb5c9.svg">
</div>
<div class="container container-fluid">
  <div class="row align-items-center">
    <div class="col align-center">
      <button (click)="listar()" class="btn btn-primary">Listar</button>
    </div>
    <div class="col align-center">
      <button (click)="nuevo()" class="btn btn-primary">Nuevo</button>
    </div>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>

